
@model Project1ScopeIndia.Models.LoginModel

<div class="text-center">
    <div class="container bg-dark text-light p-4 rounded mx-auto" style="max-width: 400px;">
        <h3 class="mb-3 text-center">First Time Login</h3>

        <form asp-action="FirstTimeLogin" asp-controller="WebHome" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Enter Your Email</label>
                <input  id="email" name="emailaddress" class="form-control bg-light text-dark" required />
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>


