<div class="container-home">
    <h1>Welcome to SCOPE INDIA</h1>
    <p>Your trusted career partner in technology training for over 17 years.</p>
    <div class="image-container">
        <a href="/">
            <img src="~/Images/home-logo.png" alt="Scopeindia logo" class="img-fluid" />
        </a>
    </div>
</div>



